<div class="container mt-4">
  <div fxLayout="row">
    <div fxLayout="column " fxFlex>
      <h6>Busqueda de Perfiles Funcionales</h6>
    </div>
  </div>
  <hr />
  <form [formGroup]="forma">
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
      <div fxLayout="column " fxFlex>
        <mat-form-field appearance="outline">
          <mat-label>Código</mat-label>
          <input matInput placeholder="Código" formControlName="code" />
          <mat-hint *ngIf="codigoInvalid" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex>
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" formControlName="name" />
          <mat-hint *ngIf="nombreInvalid" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex>
        <mat-form-field appearance="outline">
          <mat-label>Micro Perfil</mat-label>
          <input
            matInput
            placeholder="Micro Perfil"
            formControlName="microProfile"
          />
          <mat-hint *ngIf="microPerfilInvalid" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex>
        <mat-form-field appearance="outline">
          <mat-label>Estado</mat-label>
          <mat-select placeholder="Estado" formControlName="state">
            <mat-option value="activo"> activo</mat-option>
            <mat-option value="inactivo"> inactivo</mat-option>
          </mat-select>
          <mat-hint *ngIf="invalidState" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
      <div fxLayout="column " fxFlex="20">
        <mat-form-field appearance="outline">
          <mat-label>Modulo</mat-label>
          <mat-select
            placeholder="Modulo"
            formControlName="codeModule"
            (selectionChange)="emitModule()"
          >
            <mat-option *ngFor="let module of modules" [value]="module">
              {{ module }}</mat-option
            >
          </mat-select>
          <mat-hint *ngIf="invalidCodeModule" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex="20">
        <mat-form-field appearance="outline">
          <mat-label>Submodulo</mat-label>
          <mat-select
            placeholder="Submodulo"
            formControlName="codeSubModule"
            (selectionChange)="emitSubModule()"
          >
            <mat-option value="XXX"> XXX</mat-option>
            <mat-option value="YYY"> YYY</mat-option>
          </mat-select>
          <mat-hint *ngIf="invalidcodeSubModule" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex="20">
        <mat-form-field appearance="outline">
          <mat-label>Grupo</mat-label>
          <mat-select
            placeholder="Grupo"
            formControlName="codeGroup"
            (selectionChange)="emitGroup()"
          >
            <mat-option value="XXX"> XXX</mat-option>
            <mat-option value="YYY"> YYY</mat-option>
          </mat-select>
          <mat-hint *ngIf="invalidGroup" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex>
        <mat-form-field appearance="outline">
          <mat-label>Funcionalidad</mat-label>
          <mat-select
            placeholder="Funcionalidad"
            formControlName="codeFunctionality"
          >
            <mat-option value="xxx"> xxx</mat-option>
            <mat-option value="yyy"> yyy</mat-option>
          </mat-select>
          <mat-hint *ngIf="funcionalidadInvalid" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <div fxLayout="column " fxFlex="30">
        <mat-form-field appearance="outline">
          <mat-label>Desde</mat-label>
          <input
            matInput
            placeholder="Desde"
            formControlName="addDateFrom"
            [matDatepicker]="pickerFrom"
            [(ngModel)]="myDatePickerFrom"
            (dateChange)="formatDate($event)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerFrom"
          ></mat-datepicker-toggle>

          <mat-datepicker #pickerFrom></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex="30">
        <mat-form-field appearance="outline">
          <mat-label>Hasta</mat-label>
          <input
            matInput
            placeholder="Hasta"
            formControlName="addDateTo"
            [matDatepicker]="pickerTo"
            [(ngModel)]="myDatePickerTo"
            [min]="myDatePickerFrom"
            (dateChange)="formatDate($event)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerTo"
          ></mat-datepicker-toggle>

          <mat-datepicker #pickerTo></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center">
      <app-button
        [btnType]="'button'"
        [color]="ButtonColors.PRIMARY"
        class="button"
        [displayType]="ButtonTypes.RAISED"
        [text]="'BUSCAR'"
        (click)="emitForm()"
      >
      </app-button>
    </div>
  </form>
  <hr />
  <app-table
    [tableData]="perfilesFuncionales$ | async"
    [columnHeader]="pfColumns"
    [filter]="false"
    [pagination]="true"
    [paginationSizes]="[2, 4, 6]"
    [defaultPageSize]="4"
    (editData)="editDataEmit($event)"
  >
  </app-table>
</div>

<hr />
<hr />
