<div class="container mt-4">
  <div fxLayout="row">
    <div fxLayout="column " fxFlex>
      <h6>Creación de Perfiles Funcionales</h6>
    </div>
  </div>
  <hr />
  <form [formGroup]="forma">
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
      <div fxLayout="column " fxFlex="14">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Codigo" formControlName="code" />
          <mat-hint *ngIf="codigoInvalid" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Nombre" formControlName="nombre" />
          <mat-hint *ngIf="nombreInvalid" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Estado" formControlName="estado">
            <mat-option value="activo"> Activo</mat-option>
            <mat-option value="inactivo"> Inactivo</mat-option>
          </mat-select>
          <mat-hint *ngIf="estadoInvalid" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex>
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Fecha de Alta"
            formControlName="addDate"
            [matDatepicker]="picker"
            (dateChange)="formatDate($event)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>

          <mat-datepicker #picker></mat-datepicker>
          <mat-hint *ngIf="addDateInvalid" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Permiso" formControlName="permiso">
            <mat-option value="concedido"> Concedido</mat-option>
            <mat-option value="denegado"> Denegado</mat-option>
          </mat-select>
          <mat-hint *ngIf="permisoInvalid" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
