<div class="container">
  <div fxLayout="row">
    <div fxLayout="column " fxFlex>
      <h4 *ngIf="!_ramo">Creación de Ramos</h4>
      <h4 *ngIf="_ramo">Edicion de Ramos</h4>
    </div>
  </div>
  <hr />
  <form [formGroup]="forma">
    <!-- Campos Basicos -->
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
      <div fxLayout="column " fxFlex="15">
        <mat-form-field appearance="outline">
          <mat-select placeholder="Tipo" formControlName="tipo">
            <mat-option *ngFor="let item of listaTipos" [value]="item">{{
              item
            }}</mat-option>
          </mat-select>
          <mat-hint *ngIf="tipoInvalid" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex="15">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Codigo" formControlName="codigo" />
          <mat-hint *ngIf="codigoInvalid" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex="30">
        <mat-form-field appearance="outline">
          <mat-select placeholder="Compañia" formControlName="compañia">
            <mat-option *ngFor="let item of listaCompanias" [value]="item">{{
              item
            }}</mat-option>
          </mat-select>
          <mat-hint *ngIf="companiaInvalid" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
      <div fxLayout="column " fxFlex="30">
        <mat-form-field appearance="outline">
          <mat-select placeholder="Codigo SSN" formControlName="ssn">
            <mat-option *ngFor="let item of listaSSN" [value]="item">{{
              item
            }}</mat-option>
          </mat-select>
          <mat-hint *ngIf="ssnInvalid" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex="30">
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Codigo Contable"
            formControlName="contable"
            mask="0000"
          />
          <mat-hint *ngIf="contableInvalid" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <div fxLayout="column " fxFlex="30" *ngIf="!_ramo">
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Fecha de Alta"
            formControlName="fechaInicio"
            [matDatepicker]="picker"
            (dateChange)="formatDate($event)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>

          <mat-datepicker #picker></mat-datepicker>
          <mat-hint *ngIf="fechaInicioInvalid" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex="30" *ngIf="_ramo">
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Fecha de Baja"
            formControlName="fechaFin"
            [matDatepicker]="picker2"
            (dateChange)="formatDate($event)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker2"
          ></mat-datepicker-toggle>

          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex="60" *ngIf="_ramo">
        <mat-form-field appearance="outline">
          <textarea
            matInput
            placeholder="Motivo de la Baja"
            formControlName="motivoBaja"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
    <hr />
    <mat-divider></mat-divider>
    <!-- Registro de Nombres -->
    <div fxLayout="row">
      <div fxLayout="column " fxFlex>
        <h4>Registo Nombres</h4>
      </div>
    </div>
    <div
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="20px"
      formArrayName="nombres"
      *ngFor="let name of names.controls; let i = index"
    >
      <ng-container [formGroupName]="i">
        <div fxLayout="column " fxFlex="30">
          <mat-form-field appearance="outline">
            <input
              matInput
              placeholder="{{ name.value.pais }}"
              formControlName="nombre"
            />
          </mat-form-field>
        </div>
      </ng-container>
    </div>
    <hr />
    <mat-divider></mat-divider>
    <!-- Campos De validaciones Opcionales por Pais -->
    <div fxLayout="row">
      <div fxLayout="column " fxFlex>
        <h4>Datos Aprobacion</h4>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <div fxLayout="column " fxFlex="15">
        <mat-form-field appearance="outline">
          <mat-select
            placeholder="Modalidad"
            formControlName="approbationModality"
          >
            <mat-option *ngFor="let item of listaModalidad" [value]="item">{{
              item
            }}</mat-option>
          </mat-select>
          <mat-hint *ngIf="approbationModalityInvalid" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex="26">
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Fecha de Aprobacion"
            formControlName="approbationDate"
            [matDatepicker]="picker"
            (dateChange)="formatDate($event)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>

          <mat-datepicker #picker></mat-datepicker>
          <mat-hint *ngIf="approbationDateInvalid" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex="20">
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Numero Aprobación"
            formControlName="expedientNumber"
            mask="0000"
          />
          <mat-hint *ngIf="expedientNumberInvalid" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <div fxLayout="column " fxFlex="15">
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Numero Compañía Externa"
            formControlName="expedientNumberOutCompany"
            mask="0000"
          />
          <mat-hint
            *ngIf="expedientNumberOutCompanyInvalid"
            class="text-danger"
          >
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex="25">
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Numero Expediente SSN"
            formControlName="ssnExpedientNumber"
            mask="0000"
          />
          <mat-hint *ngIf="ssnExpedientNumberInvalid" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex="25">
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Nombre Compañía"
            formControlName="companyName"
          />
          <mat-hint *ngIf="companyNameInvalid" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex="20">
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Numero Trámite"
            formControlName="tramitNumber"
            mask="0000"
          />
          <mat-hint *ngIf="tramitNumberInvalid" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
  </form>
  <button (click)="prueba()">Prueba</button>
</div>
<hr />
