<div class="container">
  <div fxLayout="row">
    <div fxLayout="column " fxFlex>
      <h6 *ngIf="!_ramo">Creación de Ramos</h6>
      <h6 *ngIf="_ramo">Edicion de Ramos</h6>
    </div>
  </div>
  <hr />
  <form [formGroup]="forma">
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
      <div fxLayout="column " fxFlex="15">
        <mat-form-field appearance="outline">
          <mat-select placeholder="Tipo" formControlName="tipo">
            <mat-option *ngFor="let item of listaTipos" [value]="item">{{
              item
            }}</mat-option>
          </mat-select>
          <mat-hint *ngIf="tipoInvalid" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex="15">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Codigp" formControlName="codigo" />
          <mat-hint *ngIf="codigoInvalid" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex="50">
        <form [formGroup]="idiomaForm">
          <mat-expansion-panel class="expansion">
            <mat-expansion-panel-header>
              <mat-panel-title> Registrar Idiomas </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="column " fxFlex>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Pais" formControlName="pais" />
              </mat-form-field>
            </div>
            <div fxLayout="column " fxFlex>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Nombre" formControlName="nombre" />
              </mat-form-field>
            </div>
            <mat-action-row>
              <app-button
                [color]="ButtonColors.WARN"
                [displayType]="ButtonTypes.RAISED"
                [text]="'Registrar Idioma'"
                rightIcon="add"
                (click)="registrarIdioma()"
              ></app-button>
            </mat-action-row>
          </mat-expansion-panel>
        </form>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
      <div fxLayout="column " fxFlex="30">
        <mat-form-field appearance="outline">
          <mat-select placeholder="Compañia" formControlName="compañia">
            <mat-option *ngFor="let item of listaCompanias" [value]="item">{{
              item
            }}</mat-option>
          </mat-select>
          <mat-hint *ngIf="companiaInvalid" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex="30">
        <mat-form-field appearance="outline">
          <mat-select placeholder="Codigo SSN" formControlName="ssn" multiple>
            <mat-option *ngFor="let item of listaSSN" [value]="item">{{
              item
            }}</mat-option>
          </mat-select>
          <mat-hint *ngIf="ssnInvalid" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex="30">
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Codigo Contable"
            formControlName="contable"
            mask="0000"
          />
          <mat-hint *ngIf="contableInvalid" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <div fxLayout="column " fxFlex="30" *ngIf="!_ramo">
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Fecha de Alta"
            formControlName="fechaInicio"
            [matDatepicker]="picker"
            (dateChange)="formatDate($event)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>

          <mat-datepicker #picker></mat-datepicker>
          <mat-hint *ngIf="fechaInicioInvalid" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex="30" *ngIf="_ramo">
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Fecha de Baja"
            formControlName="fechaFin"
            [matDatepicker]="picker2"
            (dateChange)="formatDate($event)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker2"
          ></mat-datepicker-toggle>

          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex="60" *ngIf="_ramo">
        <mat-form-field appearance="outline">
          <textarea
            matInput
            placeholder="Motivo de la Baja"
            formControlName="motivoBaja"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
