div {
  display: flex;
  align-items: center;
}

.text {
  padding: 1px 5px;
  flex: 1;
  text-align: center;
  font-size: 1.1em;
}

.iconoBlanco {
  color: aliceblue;
}

button:focus,
button:active:focus,
button.active:focus {
  outline: none !important;
  outline-style: none !important;
}
