<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="message col-6" fxLayout="column" fxLayoutAlign="center center">
      <h2>
        Labore exercitation deserunt duis esse. Non id veniam enim id excepteur
        adipisicing tempor
      </h2>
    </div>
    <div class="col-6" fxLayout="column" fxLayoutAlign="center center">
      <img class="logo" src="../../../../assets/ust_logo.png" alt="" />
      <div class="form">
        <mat-card class="card">
          <mat-card-title>¡Bienvenido!</mat-card-title>
          <mat-card-content>
            <div class="container-Login">
              <mat-form-field>
                <input
                  [(ngModel)]="loginUser.email"
                  matInput
                  placeholder="Email"
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  [(ngModel)]="loginUser.password"
                  matInput
                  placeholder="Password"
                />
              </mat-form-field>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button
              (click)="login()"
              class="button"
              mat-raised-button
              color="primary"
            >
              Login
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
