<div class="container root">
  <div class="row">
    <div class="col-12">
      <h4><strong>Busqueda Perfiles</strong></h4>
    </div>
  </div>

  <div class="form">
    <form autocomplete="off" [formGroup]="forma">
      <div class="row">
        <div class="col-2 input">
          <mat-form-field appearance="outline">
            <mat-label>Código</mat-label>
            <input
              matInput
              placeholder="Código"
              formControlName="code"
              [class.is-invalid]="invalidCode"
            />
            <mat-hint *ngIf="invalidCode" class="text-danger">
              Campo obligatorio
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-4 input">
          <mat-form-field appearance="outline">
            <mat-label>Nombre y apellidos</mat-label>
            <input
              matInput
              placeholder="Nombre y apellidos"
              formControlName="fullName"
              [class.is-invalid]="invalidFullName"
            />
            <mat-hint *ngIf="invalidFullName" class="text-danger">
              Campo obligatorio
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-3 input">
          <mat-form-field appearance="outline">
            <mat-label>Descirpción</mat-label>
            <input
              matInput
              placeholder="Descirpción"
              formControlName="description"
              [class.is-invalid]="invalidDescription"
            />
            <mat-hint *ngIf="invalidDescription" class="text-danger">
              Campo obligatorio
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-3 input">
          <mat-form-field appearance="outline">
            <mat-label>Estado</mat-label>
            <mat-select
              placeholder="Selecciona"
              formControlName="state"
              [class.is-invalid]="invalidState"
            >
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
            <mat-hint *ngIf="invalidState" class="text-danger">
              Campo obligatorio
            </mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-3 input">
          <mat-form-field appearance="outline">
            <mat-label>Modulo</mat-label>
            <mat-select
              placeholder="Selecciona"
              formControlName="module"
              [class.is-invalid]="invalidModule"
            >
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
            <mat-hint *ngIf="invalidModule" class="text-danger">
              Campo obligatorio
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-3 input">
          <mat-form-field appearance="outline">
            <mat-label>Perfil</mat-label>
            <mat-select
              placeholder="Selecciona"
              formControlName="profile"
              [class.is-invalid]="invalidProfile"
            >
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
            <mat-hint *ngIf="invalidProfile" class="text-danger">
              Campo obligatorio
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-3 input">
          <mat-form-field appearance="outline">
            <mat-label>Etiquetas</mat-label>
            <input
              matInput
              placeholder="Etiquetas"
              formControlName="tags"
              [class.is-invalid]="invalidTags"
            />
            <mat-hint *ngIf="invalidTags" class="text-danger">
              Campo obligatorio
            </mat-hint>
          </mat-form-field>
        </div>
      </div>
      <small *ngIf="invalidSearch" class="text-danger">
        * Es necesario algún campo para hacer la busqueda
      </small>
      <div fxLayout="row" fxLayoutAlign="end center">
        <app-button
          [btnType]="'button'"
          [color]="ButtonColors.PRIMARY"
          class="button"
          [displayType]="ButtonTypes.RAISED"
          [text]="'BUSCAR'"
        >
        </app-button>
      </div>
    </form>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <p>Resultados</p>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12">
      <app-table
        [tableData]="perfiles$ | async"
        [columnHeader]="perfilesColumns"
        [filter]="false"
        (editData)="getEditData($event)"
      >
      </app-table>
    </div>
  </div>
</div>
