<div class="container">
  <div fxLayout="row">
    <div fxLayout="column " fxFlex>
      <h6>Busqueda de Usuarios</h6>
    </div>
  </div>
  <hr />
  <form [formGroup]="forma">
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
      <div fxLayout="column " fxFlex>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Usuario" formControlName="usuario" />
          <mat-hint *ngIf="usuarioInvalid" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Nombre" formControlName="nombre" />
          <mat-hint *ngIf="nombreInvalid" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Estado" formControlName="estado">
            <mat-option value="activo"> Activo</mat-option>
            <mat-option value="inactivo"> Inactivo</mat-option>
          </mat-select>
          <mat-hint *ngIf="estadoInvalid" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
      <div fxLayout="column " fxFlex>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Perfil" formControlName="perfil">
            <mat-option *ngFor="let item of perfiles" [value]="item._id">{{
              item.nombre
            }}</mat-option>
          </mat-select>
          <mat-hint *ngIf="perfilInvalid" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex>
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Fecha de Alta"
            formControlName="addDate"
            [matDatepicker]="picker"
            (dateChange)="formatDate($event)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>

          <mat-datepicker #picker></mat-datepicker>
          <mat-hint *ngIf="addDateInvalid" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
  </form>
  <hr />
  <app-table
    [tableData]="usuarios$ | async"
    [columnHeader]="usuariosColumns"
    [filter]="true"
    [order]="true"
    [paginationSizes]="[2, 4, 6]"
    [defaultPageSize]="4"
    [export]="true"
    [hiddenColumns]="[5, 6, 7, 8]"
    (editData)="getEditData($event)"
  ></app-table>
</div>
