.root {
  margin-top: 2rem;
}
.form {
  margin-top: 1rem;
}
.input {
  font-size: 12px;
  display: flex;
  flex-direction: column;
}
label {
  display: inline-block;
  width: 150px;
}

.moreData {
  font-size: 15px;
  cursor: pointer;
  color: rgb(16, 116, 82);
}
