<div class="container mt-4">
  <div fxLayout="row">
    <div fxLayout="column " fxFlex>
      <h6>Modificacion de Funcionalidades</h6>
    </div>
  </div>

  <form [formGroup]="forma">
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
      <div fxLayout="column " fxFlex="20">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Modulo" formControlName="codeModule" />
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex="20">
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Modulo"
            formControlName="codeSubModule"
          />
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex="20">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Modulo" formControlName="codeGroup" />
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex="20">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Modulo" formControlName="addDate" />
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex="20">
        <mat-form-field appearance="outline">
          <mat-select placeholder="Estado" formControlName="state">
            <mat-option value="XXX"> XXX</mat-option>
            <mat-option value="YYY"> YYY</mat-option>
          </mat-select>
          <mat-hint *ngIf="invalidState" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
  </form>

  <div fxLayout="row">
    <div fxLayout="column " fxFlex>
      <h6>Funcionalidades</h6>
    </div>
  </div>
  <hr />
  <div fxLayout="row">
    <div fxLayout="column " fxFlex>
      <div fxLayout="row" fxLayoutAlign="end center">
        <app-button
          [color]="ButtonColors.PRIMARY"
          [displayType]="ButtonTypes.RAISED"
          [text]="'Añadir Idioma'"
          rightIcon="add"
          (click)="addLang()"
        ></app-button>
      </div>

      <app-table
        [tableData]="_multilnag"
        [columnHeader]="funcionalidadColumns"
        (editData)="editLang($event)"
      ></app-table>
    </div>
  </div>
  <hr />
</div>
