<div class="container">
  <mat-tab-group
    mat-align-tabs="center"
    [selectedIndex]="index"
    (selectedTabChange)="onLinkClick($event)"
  >
    <mat-tab label="BUSQUEDA PERFILES"
      ><app-busqueda [perfilesData]="perfiles$"></app-busqueda
    ></mat-tab>
    <mat-tab label="CREACION PERFILES"
      ><app-creacion #creacion [perfilesData]="pf$"></app-creacion
    ></mat-tab>
    <mat-tab label="MODIFICACIÓN PERFILES"
      ><app-modificacion></app-modificacion
    ></mat-tab>
    <mat-tab label="CREACIÓN DE MENU">Content 4</mat-tab>
  </mat-tab-group>
</div>

<div class="container">
  <div fxLayout="row" fxLayoutAlign="end center">
    <app-button
      *ngIf="index === 1"
      [color]="ButtonColors.PRIMARY"
      [displayType]="ButtonTypes.RAISED"
      [text]="'Crear Usuario'"
      rightIcon="add"
      (click)="crearPerfil()"
    ></app-button>
  </div>
</div>

<hr />
