<mat-toolbar class="toolbar" color="accent">
  <div>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <span>{{ "navbar.home" | translate }}</span>
  <span class="spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    [matMenuTriggerFor]="languageMenu"
  >
    <mat-icon>language</mat-icon>
  </button>
  <mat-menu #languageMenu="matMenu">
    <button mat-menu-item (click)="cambiarLenguaje('es')">
      {{ "navbar.spanish" | translate }}
    </button>
    <button mat-menu-item (click)="cambiarLenguaje('en')">
      {{ "navbar.english" | translate }}
    </button>
  </mat-menu>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    [matMenuTriggerFor]="personMenu"
  >
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #personMenu="matMenu">
    <button mat-menu-item (click)="logOut()">LogOut</button>
  </mat-menu>
</mat-toolbar>
