<div class="container mt-4">
  <form [formGroup]="forma">
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
      <div fxLayout="column " fxFlex="20">
        <mat-form-field appearance="outline">
          <mat-select
            placeholder="Modulo"
            formControlName="codeModule"
            (selectionChange)="emitModule()"
          >
            <mat-option *ngFor="let module of modules" [value]="module">
              {{ module }}</mat-option
            >
          </mat-select>
          <mat-hint *ngIf="invalidCodeModule" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex="20">
        <mat-form-field appearance="outline">
          <mat-select
            placeholder="Submodulo"
            formControlName="codeSubModule"
            (selectionChange)="emitSubModule()"
          >
            <mat-option value="XXX"> XXX</mat-option>
            <mat-option value="YYY"> YYY</mat-option>
          </mat-select>
          <mat-hint *ngIf="invalidcodeSubModule" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex="20">
        <mat-form-field appearance="outline">
          <mat-select placeholder="Grupo" formControlName="codeGroup">
            <mat-option value="XXX"> XXX</mat-option>
            <mat-option value="YYY"> YYY</mat-option>
          </mat-select>
          <mat-hint *ngIf="invalidGroup" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex="20">
        <mat-form-field appearance="outline">
          <mat-select placeholder="Estado" formControlName="state">
            <mat-option value="XXX"> XXX</mat-option>
            <mat-option value="YYY"> YYY</mat-option>
          </mat-select>
          <mat-hint *ngIf="invalidState" class="text-danger">
            Campo obligatorio
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
      <div fxLayout="column " fxFlex="30">
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Desde"
            formControlName="dateFrom"
            [matDatepicker]="pickerFrom"
            [(ngModel)]="myDatePickerFrom"
            (dateChange)="formatDate($event)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerFrom"
          ></mat-datepicker-toggle>

          <mat-datepicker #pickerFrom></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxLayout="column " fxFlex="30">
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Hasta"
            formControlName="dateTo"
            [matDatepicker]="pickerTo"
            [(ngModel)]="myDatePickerTo"
            [min]="myDatePickerFrom"
            (dateChange)="formatDate($event)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerTo"
          ></mat-datepicker-toggle>

          <mat-datepicker #pickerTo></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <div fxLayout="column " fxFlex="50">
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Texto Funcionalidad"
            formControlName="text"
          />
        </mat-form-field>
      </div>
      <div fxLayout="column ">
        <app-button
          [btnType]="'button'"
          [color]="ButtonColors.PRIMARY"
          class="button"
          [displayType]="ButtonTypes.RAISED"
          [text]="'BUSCAR FUNCIONALIDAD'"
          (click)="emitForm()"
        >
        </app-button>
      </div>
    </div>
  </form>

  <mat-divider></mat-divider>
  <hr />
  <div fxLayout="row">
    <div fxLayout="column " fxFlex>
      <app-table
        [tableData]="funcionalidades$ | async"
        [columnHeader]="funcionalidadesColumns"
        (editData)="emitDataEdit($event)"
      ></app-table>
    </div>
  </div>
  <hr />
</div>
