<div class="container mt-4">
  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
    <div fxLayout="column " fxFlex="20">
      <mat-form-field appearance="outline">
        <mat-select placeholder="Modulo">
          <mat-option value="Cross"> Cross</mat-option>
          <mat-option value="Productos"> Productos</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="column " fxFlex="20">
      <mat-form-field appearance="outline">
        <mat-select placeholder="Submodulo">
          <mat-option value="XXX"> XXX</mat-option>
          <mat-option value="YYY"> YYY</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="column " fxFlex="20">
      <mat-form-field appearance="outline">
        <mat-select placeholder="Grupo">
          <mat-option value="XXX"> XXX</mat-option>
          <mat-option value="YYY"> YYY</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="column " fxFlex="20">
      <mat-form-field appearance="outline">
        <mat-select placeholder="Estado">
          <mat-option value="XXX"> XXX</mat-option>
          <mat-option value="YYY"> YYY</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
    <div fxLayout="column " fxFlex="30">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Desde" [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxLayout="column " fxFlex="30">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Hasta" [matDatepicker]="picker2" />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>

        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <div fxLayout="column " fxFlex="50">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Texto Funcionalidad" />
      </mat-form-field>
    </div>
    <div fxLayout="column ">
      <app-button
        [btnType]="'button'"
        [color]="ButtonColors.PRIMARY"
        class="button"
        [displayType]="ButtonTypes.RAISED"
        [text]="'BUSCAR FUNCIONALIDAD'"
      >
      </app-button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <hr />
  <div fxLayout="row">
    <div fxLayout="column " fxFlex>
      <app-table
        [tableData]="funcionalidades$ | async"
        [columnHeader]="funcionalidadesColumns"
      ></app-table>
    </div>
  </div>
  <hr />
</div>
