table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 50%;
}

.spacer {
  flex: 1 1 auto;
}

.mat-row:hover {
  background-color: rgba(180, 35, 35, 0.836);
}

.mat-row:hover > .mat-cell {
  color: white;
}

.no-records {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.xlsx {
  background-color: green;
  color: aliceblue;
  margin-right: 5px;
}
.csv {
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  margin-right: 5px;
}
