<div class="container mt-4">
  <div fxLayout="row">
    <div fxLayout="column " fxFlex>
      <h6>Creación de Perfiles Funcionales</h6>
    </div>
  </div>
  <hr />
  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
    <div fxLayout="column " fxFlex>
      <mat-form-field>
        <input matInput placeholder="Nombre" />
      </mat-form-field>
    </div>
    <div fxLayout="column " fxFlex>
      <mat-form-field>
        <input matInput placeholder="Nombre" />
      </mat-form-field>
    </div>
    <div fxLayout="column " fxFlex>
      <mat-form-field>
        <input matInput placeholder="Nombre" />
      </mat-form-field>
    </div>
  </div>
</div>

<mat-select
  [(ngModel)]="SelectedModule"
  name="modulo"
  (selectionChange)="cargarFuncionalidades($event.value)"
>
  <mat-option value="cross"> Cross</mat-option>
  <mat-option value="productos"> Productos</mat-option>
</mat-select>

<p>Selected module: {{ SelectedModule }}</p>

<hr />
<hr />
<mat-tree
  [dataSource]="dataSource"
  [treeControl]="treeControl"
  class="example-tree"
>
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    <li class="mat-tree-node">
      <!-- use a disabled button to provide padding for tree leaf -->
      <button mat-icon-button disabled></button>
      {{ node.name }}
    </li>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <li>
      <div class="mat-tree-node">
        <button
          mat-icon-button
          matTreeNodeToggle
          [attr.aria-label]="'Toggle ' + node.name"
        >
          <mat-icon class="mat-icon-rtl-mirror">
            {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
          </mat-icon>
        </button>
        {{ node.name }}
      </div>
      <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>

  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasfuncionality">
    <li>
      <div class="mat-tree-node">
        <button
          mat-icon-button
          matTreeNodeToggle
          [attr.aria-label]="'Toggle ' + node.name"
        >
          <mat-icon class="mat-icon-rtl-mirror">
            {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
          </mat-icon>
        </button>
        {{ node.name }}
      </div>
      <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
        <ng-container matTreeNodeOutlet *ngFor="let func of funcionalities">
          <li>{{ func.name }}</li>
        </ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree>
