<div class="containerAlt">
  <mat-tab-group
    mat-align-tabs="center"
    [selectedIndex]="index"
    (selectedTabChange)="changeTab($event)"
  >
    <mat-tab label="Buscar figura">
      <app-buscar (editFigure)="editFigure($event)"></app-buscar>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span (click)="setCreate()">Gestionar figura</span>
      </ng-template>
      <app-gestionar [create]="crearFigura" [figura]="figura"></app-gestionar>
    </mat-tab>
  </mat-tab-group>
</div>
