<div *ngIf="isNew || isEdit">
  <h3>
    <span *ngIf="isNew">Crear sub nivel de </span>
    <span *ngIf="isEdit">Editar nivel </span>
    <b>{{ node.name }}</b>
  </h3>
  <form autocomplete="off" [formGroup]="forma" (ngSubmit)="save()">
    <div class="row">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Nombre" formControlName="nombre" />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Icono" formControlName="icono" />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Ruta" formControlName="ruta" />
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col">
        <app-button class="button" [text]="'Confirmar'"></app-button>
      </div>
      <div class="col">
        <app-button
          [btnType]="'button'"
          class="button"
          [text]="'Cancelar'"
          (click)="closeForm()"
        >
        </app-button>
      </div>
      <div *ngIf="isEdit" class="col">
        <app-button
          [btnType]="'button'"
          class="button"
          [text]="'Eliminar'"
          (click)="deleteItem()"
        >
        </app-button>
      </div>
    </div>
  </form>
</div>
