<div *ngIf="isNew || isEdit">
  <h3>
    <span *ngIf="isNew">Crear sub nivel de </span>
    <span *ngIf="isEdit">Editar nivel </span>
    <b>{{ node.name }}</b>
  </h3>
  <form autocomplete="off" [formGroup]="forma" (ngSubmit)="save()">
    <div class="row">
      <div class="col-12">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" formControlName="nombre" />
          <mat-error *ngIf="forma.controls.nombre.errors">
            El nombre es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12" *ngIf="visibleIcon">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Icono</mat-label>
          <mat-select formControlName="icono">
            <mat-option *ngFor="let opt of icons" [value]="opt.value">
              <mat-icon>{{ opt.value }}</mat-icon>
            </mat-option>
            <mat-select-trigger>
              <mat-icon>{{ forma.controls.icono.value }}</mat-icon>
            </mat-select-trigger>
          </mat-select>
          <mat-error *ngIf="forma.controls.icono.errors">
            El icono es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12" *ngIf="visibleUrl">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Ruta</mat-label>
          <input matInput placeholder="Ruta" formControlName="ruta" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <app-button class="button" [text]="'Confirmar'"></app-button>
      </div>
      <div class="col-4">
        <app-button
          [btnType]="'button'"
          class="button"
          [text]="'Cancelar'"
          (click)="closeForm()"
          [displayType]="ButtonTypes.STROKED"
        >
        </app-button>
      </div>
      <div *ngIf="isEdit" class="col-4">
        <app-button
          [btnType]="'button'"
          class="button"
          [text]="'Eliminar'"
          (click)="deleteItem()"
          [displayType]="ButtonTypes.STROKED"
        >
        </app-button>
      </div>
    </div>
  </form>
</div>
