<div class="container">
  <mat-tab-group
    mat-align-tabs="center"
    (selectedTabChange)="onLinkClick($event)"
  >
    <mat-tab label="CREACIÓN DE USUARIOS"
      ><app-creacion-usuarios
        #creacion
        [perfilesData]="perfiles$"
      ></app-creacion-usuarios
    ></mat-tab>
    <mat-tab label="MODIFICACIÓN DE USUARIOS">
      <app-modificacion-usuarios
        #modificacion
        [perfilesData]="perfiles$"
      ></app-modificacion-usuarios>
    </mat-tab>
    <mat-tab label="BÚSQUEDA DE USUARIOS">
      <app-busqueda-usuarios
        [usuariosData]="usuarios$"
        [perfilesData]="perfiles$"
      ></app-busqueda-usuarios>
    </mat-tab>
    <mat-tab label="ASIGNACION MASIVA PERFILES">
      <app-asignacion-masiva-perfiles
        [usuariosData]="usuarios$"
        [perfilesData]="perfiles$"
      ></app-asignacion-masiva-perfiles>
    </mat-tab>
  </mat-tab-group>
</div>

<div class="container">
  <div fxLayout="row" fxLayoutAlign="end center">
    <app-button
      *ngIf="index === 0"
      [color]="ButtonColors.PRIMARY"
      [displayType]="ButtonTypes.RAISED"
      [text]="'Crear Usuario'"
      rightIcon="add"
      (click)="crearUsuario()"
    ></app-button>
    <app-button
      *ngIf="index === 1"
      [color]="ButtonColors.PRIMARY"
      [displayType]="ButtonTypes.RAISED"
      [text]="'Editar Usuario'"
      rightIcon="add"
      (click)="editarUsuario()"
    ></app-button>
  </div>
</div>

<hr />
