<div class="container">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="BÚSQUEDA DE FUNCIONALIDADES">
      <app-busqueda-funcionalidades
        #modificacion
        [funcionalidadesData]="funcionalidadesBusqueda$"
        (emitDataSearch)="getDataSearch($event)"
        (emitCodeModule)="getModule($event)"
        (emitCodeSubModule)="getSubModule($event)"
        (emitEditData)="getDataEdit($event)"
      ></app-busqueda-funcionalidades>
    </mat-tab>
    <mat-tab label="MODIFICACIÓN DE FUNCIONALIDADES">
      <app-modificacion-funcionalidades
        [funcionality]="funcionalidadEditable"
        [multiLang]="funcionalityMultiLang"
        (emitMultiLang)="getNewMultiLang($event)"
      ></app-modificacion-funcionalidades>
    </mat-tab>
  </mat-tab-group>
</div>
