<br />
<h2>Crear figura</h2>
<div class="form">
  <form autocomplete="off" (ngSubmit)="gestionar()" [formGroup]="miFormulario">
    <div
      fxLayout="row wrap"
      fxLayout.lt-md="column"
      fxLayoutGap="10px"
      fxLayoutGap.lt-md="0px"
    >
      <div fxFlex="30">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Código</mat-label>
          <input type="text" matInput formControlName="code" />
          <mat-error *ngIf="miFormulario.controls.code.errors">
            El Código de red es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="30">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Descrpción</mat-label>
          <input type="text" matInput formControlName="description" />
          <mat-error *ngIf="miFormulario.controls.description.errors">
            La Descrpción es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="60">
        <app-button
          text="Crear"
          class="floatRight"
          [disabled]="loader"
        ></app-button>
      </div>
    </div>
  </form>
</div>
