<section class="jumbotron text-center">
  <xng-breadcrumb>
    <ng-container
      *xngBreadcrumbItem="let breadcrumb; let info = info; let first = first"
    >
      <mat-icon *ngIf="info">{{ info }}</mat-icon>
      <ng-container>{{ breadcrumb | translate }}</ng-container>
    </ng-container>
  </xng-breadcrumb>
  <div class="container">
    <h1 class="jumbotron-heading">{{ "dashboard.title" | translate }}</h1>
    <p>
      <app-button
        [color]="ButtonColors.WARN"
        [displayType]="ButtonTypes.RAISED"
        [text]="'Ejemplo con Icono'"
        leftIcon="get_app"
      ></app-button>
      <app-button
        [color]="ButtonColors.ACCENT"
        [displayType]="ButtonTypes.BASIC"
        [text]="'Ejemplo sin Icono'"
      ></app-button>
      <app-button
        [color]="ButtonColors.PRIMARY"
        [displayType]="ButtonTypes.RAISED"
        [text]="'Ejemplo con Icono'"
        rightIcon="add"
      ></app-button>
      <app-button
        [color]="ButtonColors.PRIMARY"
        [displayType]="ButtonTypes.MINI_FAB"
        [icon]="'add'"
      ></app-button>
    </p>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-3">
      <h4>Para fechas</h4>
      <input matInput mask="00/00/0000" />
    </div>
    <div class="col-3">
      <h4>Para fechas Mostrando ayuda</h4>
      <input matInput mask="00/00/0000" [showMaskTyped]="true" />
    </div>
    <div class="col-3">
      <h4>Para Numero fijo</h4>
      <input matInput mask="(00) 000 00 00" />
    </div>
    <div class="col-3">
      <h4>Para Numero mvl</h4>
      <input matInput mask="000 00 00 00" />
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="col-3">
      <h4>Para Precios</h4>
      <input type="text" suffix=" $" mask="0000" />
    </div>
    <div class="col-3">
      <h4>Para Miles Sin simbolo</h4>
      <input type="text" mask="separator" />
    </div>
    <div class="col-3">
      <h4>Para Miles Con puntos</h4>
      <input type="text" mask="separator" thousandSeparator="." />
    </div>
    <div class="col-3">
      <h4>Para Miles Con comas</h4>
      <input type="text" mask="separator" thousandSeparator="," />
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="col-6">
      <h4>Miles con Punto y 2 Decimales con Coma</h4>
      <input type="text" mask="separator.2" thousandSeparator="." />
    </div>
    <div class="col-6">
      <h4>Miles con Coma y 2 Decimales con Punto</h4>
      <input type="text" mask="separator.2" thousandSeparator="," />
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="col-6">
      <h4>Cuenta Bancaria</h4>
      <input matInput mask="SS 00 0000 0000 00 0000000000" />
    </div>
    <div class="col-3">
      <h4>DNI</h4>
      <input matInput mask="00000000S" />
    </div>
  </div>
</div>
<hr />
<hr />

<div class="container" *ngIf="siniestros">
  <h2>Seccion Para Siniestros</h2>
  <div class="row">
    <div class="col-3">
      <mat-form-field appearance="fill">
        <mat-label>Input</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field appearance="fill">
        <mat-label>Textarea</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <mat-form-field appearance="fill">
        <mat-label>Input</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field appearance="fill">
        <mat-label>Textarea</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>
  </div>
</div>
<hr />
<hr />
<div class="container" *ngIf="personas">
  <h2>Seccion Para Personas</h2>
  <div class="row">
    <div class="col-3">
      <mat-form-field appearance="fill">
        <mat-label>Input</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field appearance="fill">
        <mat-label>Textarea</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <mat-form-field appearance="fill">
        <mat-label>Input</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field appearance="fill">
        <mat-label>Textarea</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>
  </div>
</div>
<hr />

<!-- <div class="container">
  <app-form-table></app-form-table>
</div> -->
<hr />
<hr />
<hr />
<div class="container">
  <!-- <app-datepicker
    class="col-md-3 col-12"
    [isReadOnly]="false"
    [placeholder]="'Fecha Inicio'"
    [control]="this.form.get('dateStart')"
    (formatDAte)="getDate($event)"
  ></app-datepicker> -->
</div>
<hr />
<hr />
<div class="container">
  <mat-form-field>
    <input
      matInput
      [ngxMatDatetimePicker]="picker"
      placeholder="Selecciona Hora y Dia"
      [(ngModel)]="myDatePicker"
    />

    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

    <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
  </mat-form-field>
</div>
<hr />
<hr />
<div class="container">
  <mat-form-field>
    <input
      matInput
      [ngxMatDatetimePicker]="pickerFrom"
      placeholder="Desde"
      [(ngModel)]="myDatePickerFrom"
    />

    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>

    <ngx-mat-datetime-picker
      #pickerFrom
      [enableMeridian]="true"
    ></ngx-mat-datetime-picker>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      [ngxMatDatetimePicker]="pickerTo"
      placeholder="Hasta"
      [(ngModel)]="myDatePickerTo"
      [min]="myDatePickerFrom"
    />

    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>

    <ngx-mat-datetime-picker
      #pickerTo
      [enableMeridian]="true"
    ></ngx-mat-datetime-picker>
  </mat-form-field>
</div>
<hr />
<hr />

<Button (click)="setFrench()">A FR</Button>
