<div fxLayout="row" fxLayoutAlign="center start">
  <mat-expansion-panel class="expansion">
    <mat-expansion-panel-header>
      <mat-panel-title> Tomadores </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <mat-label>Codigo</mat-label>
      <input matInput type="number" min="1" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nombre y Apellidos del Agente</mat-label>
      <input matInput />
    </mat-form-field>
    <app-grid [tableData]="seguros" [columnHeader]="segurosColumns"></app-grid>
  </mat-expansion-panel>
</div>
