<!-- <div>
    <mat-form-field
      *ngFor="let filter of filterSelectObj"
      style="margin-left: 15px"
    >
      <mat-label>Filter {{ filter.name }}</mat-label>
      <select
        matNativeControl
        name="{{ filter.columnProp }}"
        [(ngModel)]="filter.modelValue"
        (change)="filterChange(filter, $event)"
      >
        <option value="">-- Select {{ filter.name }} --</option>
        <option [value]="item" *ngFor="let item of filter.options">
          {{ item }}
        </option>
      </select>
    </mat-form-field>
    &nbsp;
    <button mat-flat-button color="warn" (click)="resetFilters()">Reset</button>
  </div> -->
